@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul { 
  list-style-type: none;
}

a {
  color: #5e5e5e;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  gap: 10px; 
  padding: 10px; 
}

.left-links, .right-links {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 20px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.footer { 
background-color: #eeeeee;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}

