/* Add CSS Styling */
.allodd {
    background-color: rgb(248, 161, 175);
    font-family: 'Verdana', 'Dejavu Sans', sans-serif;

}

#num2 {
    color: blue;
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#num4 {
    background-color: lightgreen;
    font-weight: bold;
}